<section id="footer" class="section">
    <section class="container {{ grid_size }}">
        <p>Powered by <a target="_blank" href="http://openochem.org">OpenOChem</a>.</p>
    </section>
</section>
